:root {
  --bg-color: #f1f1f1;
  --color: #222;
  --nav-color: #393a44;
  --card-bg-color: #fff;
  --card-text-color: #222;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--color);
}

body.dark {
  --bg-color: #222;
  --color: #fff;
}

.side-bar {
  background-color: var(--nav-color);
  min-width: 200px;
}

.side-bar.dark {
  --nav-color: #00332c;
}

.divider {
  background-color: var(--nav-color);
}

.divider.dark {
  --nav-color: #00332c;
}

.card {
  color: var(--card-text-color);
  background-color: var(--card-bg-color);
}

.card.dark {
  --card-text-color: #fff;
  --card-bg-color: #3c4042;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  color: #28282b;
}

.hidden {
  display: none;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 0.5rem;
  grid-auto-flow: dense;
}

.grid-wrapper div {
  grid-column-end: span 2;
}

.active {
  color: #fff;
}

/* Media Queries */

@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Loader */
.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #2e2c2f;
  }
  25% {
    stroke: #475b63;
  }
  50% {
    stroke: #729b79;
  }
  75% {
    stroke: #bacdb0;
  }
  100% {
    stroke: #f3e8ee;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
